{% extends "authentication/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="register-form ">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 ml-4">Join Our App!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mt-2 mb-2" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted  ">
                Already have an Account? <a class="ml-2" href="login">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}