<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>312 Project </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand ml-0 mb-0 h1">  CSE 312 Project</span>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="navbar-collapse collapse " id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/blog">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/blog/inbox">Inbox({{unread}})</a>
                    {% if unread != 0 %}
                        <script language=javascript> alert("New messages, This alert won't dissapear until you check your inbox")</script>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/blog/post/new">Create a Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/friends">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>

        
        <span class="navbar-brand mb-0 h1">
        Hello {{user}}
        </span>

    </nav>


</head>
<body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="mt-2 alert alert-{{ message.tags }}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

    {% block content%}{% endblock %}
    </div>
</body>
</html>