{% extends "blog/base.html" %}
{% block content%}
    <div class="contact-form ">

        <h1 class="display-3 text-center">Direct Message</h1>

        <div class="container">

            <form role="form" method="POST" action="{% url 'send_message' %}">

                {% csrf_token %}

                <div class="row">

                    <input type="hidden" name="to_user" value="{{ recipient }}">
                    <input type="hidden" name="from_user" value="{{ sender }}">


                    <h4> From: {{sender.username}}</h4>
                    <h4> To: {{recipient.username}}</h4>
    
                    <textarea id="body" name="body" rows="4" cols="50"></textarea>
    
                    <hr>
                    
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Send Message</button>
    
                </div>

              </form>

        </div>
    </div>


{% endblock %}