{% extends "blog/base.html" %}
{% block content%}

<h1 class="display-3 text-center">Inbox</h1>

{% if messages %}

<div class="table-responsive">
  <table class="table">
    <tbody>

  {% for message in messages %}


      <tr>
        <td class="name">From {{message.from_user}}:</td>
        <td class="subject" colspan="2">{{message.body}} </td>
        <td class="subject" colspan="2"><a href="/blog/contact/{{message.to_user.id}}/{{message.from_user.id}}" class="btn btn-outline-primary btn ">Reply</a></td>
      </tr>

    <!--<div  class="card border-dark  mt-3  mb-3 " style="width:25vw; display: inline-block;" >
      <div class="card-body">
        <p class="card-text text-center text-muted">{{message.from_user}} : {{message.body}}</p>
      </div>

    </div>-->

  {% endfor %}
    </tbody>
  </table>
</div>

{% else %}

<h2>No messages</h2>


{% endif %}


<div class="container">
    
</div>

{% endblock %}