{% extends "blog/base.html" %}
{% block content%}

<h1 class="display-3 text-center">Inbox</h1>

{% if messages %}

<div class="table-responsive">
  <table class="table">
    <tbody>

  {% for message in messages %}


      <tr>
        <td class="name">From {{message.from_user}}:</td>
        <td class="subject" colspan="2">{{message.body}} </td>
          {% for u in users %}
            {% if u.user == message.from_user %}
              <td class="subject" colspan="2"><a href="/blog/contact/{{u.user.id}}/" class="btn btn-outline-primary btn ">Reply</a></td>
            {% endif %}
          {% endfor %}
      </tr>

    <!--<div  class="card border-dark  mt-3  mb-3 " style="width:25vw; display: inline-block;" >
      <div class="card-body">
        <p class="card-text text-center text-muted">{{message.from_user}} : {{message.body}}</p>
      </div>

    </div>-->

  {% endfor %}
    </tbody>
  </table>
</div>

{% else %}

<h2>No messages</h2>


{% endif %}


<div class="box">
  <article class="media">
    <div class="media-left">
      <!--<figure class="image is-64x64">
          {% if message.user.profile.picture %}
            <img src="{{ message.user.profile.picture.url }}" alt="Placeholder image">
          {% else %}
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
          {% endif %}
      </figure>-->
    </div>
    <div class="media-content">

      <div class="content">
        <p>
        <!--  <strong>{{ message.user.profile.first_name }} {{ message.user.profile.last_name }}</strong> <small>@{{ message.user.username }}</small>-->
        </p>
      </div>

      <div class="content">
        <!--{% if message.unread %}
        <p style="font-weight: bold; color: red;">
          <i class="material-icons">mark_chat_unread</i> {{ message.unread }}
        </p>
        {% endif %}        -->
      </div>

    </div>
  </article>
</div>


<div class="container">
    
</div>

{% endblock %}